<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ssmdemo.module.sys.dao.UserDao">
    <select id="selectUserById" resultType="com.example.ssmdemo.module.sys.pojo.model.User">
        select id,username,password,name,status from sys_user where id = #{id}
    </select>

    <select id="selectUserByName" resultType="com.example.ssmdemo.module.sys.pojo.model.User">
        select id,avatar,name,introduction from sys_user where username = #{username}
    </select>

    <select id="selectUserRoleById" resultType="map">
        SELECT
            su.id,
            su.username,
            su.`password`,
            su.`name`,
            su.`status`,
            sur.UID,
            sur.RID,
            sr.ID,
            sr.ROLE_NAME,
            sr.ROLE_DESC
        FROM
            sys_user AS su
                INNER JOIN
            sys_user_role AS sur
            ON
                su.id = sur.UID
                INNER JOIN
            sys_role AS sr
            ON
                sur.RID = sr.ID
        WHERE
            su.id = #{id}
    </select>
</mapper>